.welcomeText {
  color: #fff;

  text-align: left;
}

.welcomeText h1 {
  font-size: 3.75rem;
  font-weight: 700;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 250px));
  grid-gap: 10px;
  justify-content: center;
}
