.recipe {
  width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.recipeTop {
  display: flex;
  margin-bottom: 20px;
}

.recipeTop img {
  width: 50%;
}

.recipeInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recipeInfo h1 {
  font-size: 22px;
  font-weight: bold;
}

.recipeContent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.instructions {
  grid-column: 1 / span 7;
}
.ingredients {
  grid-column: 8 / -1;
}
